body {
    background-color:rgb(29, 29, 29);
    padding: 10px;
}

.titles {
    text-align: center;
    color: rgb(0, 255, 34);
    font-family: 'Quicksand', sans-serif;
}

.picture {
    border-radius: 10%;
    float: left;
    padding: 10px;
    background-color: darkgray;
    }

p, ul {
    color: #c4d1fc;
}

.button {
    color: rgb(29, 29, 60);
    background-color: rgba(255, 255, 0, 0.795);
    padding: 10px;
    line-height: 20px;
    font-weight: 600;
    border-radius: 10px;
    width:30%;
    display: inline-block;
    margin: 5px;
}

ul li {
    line-height: 25px;
}

.iam {
    font-weight: 600;
    color: rgb(124, 182, 248);
}

h1.iam {
    font-size: 3.5em;
}

.description {
    border: 10px solid rgb(29, 29, 29);
    height: 418px;
    overflow: auto; 
}

ul li:nth-child(odd) {
    background-color: rgb(61, 61, 61);
}

#eu, #hobbie, #habilidades {
    text-align: left;
}