body {
    background-color: moccasin;
    padding: 10px;
}

.titles {
    text-align: center;
    color: rgb(4, 161, 25);
    font-family: 'Quicksand', sans-serif;
}

.picture {
    border-radius: 10%;
    float: left;
    padding: 10px;
    background-color:rgb(240, 217, 179);
    margin-right: 10px;
    }

p, ul {
    color: #485b99;
}

.button {
    color: rgb(255, 251, 0);
    background-color: rgb(29, 29, 60);;
    padding: 10px;
    line-height: 20px;
    font-weight: 600;
    border-radius: 10px;
    width:30%;
    display: inline-block;
    margin: 5px;
}

ul li {
    line-height: 25px;
}

.iam {
    font-weight: 600;
    color: rgb(124, 182, 248);
}

h1.iam {
    font-size: 3.5em;
}

.description {
    border: 5px solid rgb(252, 228, 187);
    height: 418px;
    overflow: auto;
    padding: 5px;
    border-radius: 20px;
    background-color: antiquewhite;
    margin-right: 10px;
}

ul li:nth-child(odd) {
    background-color: rgb(117, 117, 117);
    color: black;
}

#eu, #hobbie, #habilidades {
    text-align: left;
}