body {
  background-color: rgb(122, 122, 122);
}

.App {
  text-align: center;
}

.link-hover:hover {
  transform: scale(1.02);
}

.scale:hover {
  transform: scale(1.1);
}


p {
  line-height: 1.3;
}

a {
  color: unset;
  text-decoration: unset;
}

/* Header */
.perfil {
  border-radius: 10%;

  /* -webkit-box-reflect: below 1px
    linear-gradient(transparent, transparent, rgba(0, 0, 0, 0.4)); */
  height: 20vmin;
  padding: 7px;
  transition: all 0.5s ease;
}

.perfil:hover {
  transform: scale(1.1);
}

.linkHover:hover {
  color: #a7a7a7;
  transform: scale(1.1);
}

.App-header {
  background-color: #282c34;
  color: white;
  display: flex;
  font-size: 4vmin;
  justify-content: flex-start;
  line-height: 0.1;
  min-height: 20vh;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
}

.navLink {
  border-right: 1px solid rgba(0, 0, 0, 0.664);
  color: #858ed8;
  font-size: 1.5vmin;
  line-height: 1;
  padding: 15px;
  text-align: left;
  text-decoration: unset;
  width: 21vmin;
}

.hello {
  align-self: center;
  padding: 7px;
  width: 80%;
}

/* Quem sou */
.presentation {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  font-size: 0.9rem;
  gap: 10px;
  justify-content: space-around;
  margin: 10px auto;
  margin-top: 25vmin;
  width: 95%;
}

.myArticle {
  background-color: #afafaf;
  border-radius: 10px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  height: fit-content;
  max-width: 700px;
  padding: 10px;
  z-index: 1;
}

.myArticle p {
  padding: 0 100px;
}

.stacksArticle {
  background-color: #afafaf;
  border-radius: 10px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  height: fit-content;
  max-width: 1050px;
  padding: 10px;
  z-index: 1;
}

.myHabilities {
  padding: 10px;
}


.hability-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: space-evenly;
  padding: 0;
}

.stacks {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: space-evenly;
  padding: 10px;
}

.stackCard {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.imageList {
  border-radius: 10px;
  width: 100px;
}

/* Projetos */
.projects {
  margin-top: 25vmin;
}

.card {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-bottom: 25px;
}

.project-card {
  background-color: rgb(114, 114, 114);
  border-radius: 30px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  color: rgb(209, 207, 207);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 7px;
  width: 30%;
  z-index: 1;
}

.project-list, .hability-list {
  list-style-type: none;
  padding-left: 0;
}

.tech {
  text-shadow: #282c34 1px 1px 1px;
}

.paragraph-small {
  font-size: 0.95rem;
  line-height: 1.2;
  padding: 0 5px;
}

.paragraph {
  font-size: 1.1rem;
  line-height: 1.3;
  padding: 0 5px;
}

.flex {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  gap: 10px;
  justify-content: space-evenly;
}

.project_image {
  border-radius: 10px;
  box-shadow: #282c34 0 0 20px;
  width: 30%;

}

.project_gif {
  border-radius: 10px;
  box-shadow: #282c34 0 0 20px;
  width: 15%;
}

.project-list-container {

  /* background-color: rgb(119, 119, 119); */
  border-radius: 10px;

  /* box-shadow: #282c34 0 4px 4px; */
  width: 50%;
}

.project-list {
  display: flex;
  flex-flow: column wrap;
  gap: 2.5px;
  justify-content: space-evenly;
  padding: 5px;
}

@media ( max-width : 1079px ) {

  .navLink {
    width: 25%;
  }

  .perfil {
    height: 25vmin;
  }

  .hello {
    width: 100%;
  }

  p {
    font-size: 2vmin;
  }

  .presentation {
    margin-top: 38vmin;
  }

  .myArticle {
    width: 90%;
  }

  .myArticle p {
    padding: 0 60px;
  }

  .hability-list {
    gap: 10px;
  }

  .arrayList {
    font-size: 2vmin;
  }

  .stacksArticle {
    width: 90%;
  }

  .stacks {
    gap: 30px;
  }

  .stackCard {
    align-items: center;
    justify-content: center;
  }

  .imageList {
    width: 80px;
  }

  .projects {
    margin-top: 38vmin;
  }

  .card {
    gap: 20px;
  }

  .project-card {
    width: 45%;
  }
}

@media ( max-width : 768px ) {

  .App-header {
    min-height: fit-content;
  }

  .navLink {
    padding: 7px;
    width: 31%;
  }

  .perfil {
    height: 20vmin;
  }

  .hello {
    width: 100%;
  }

  p {
    font-size: 2.8vmin;
  }

  .presentation {
    margin-top: 25vmin;
  }

  .myArticle {
    width: 100%;
  }

  .myArticle p {
    padding: 0;
  }

  .arrayList {
    font-size: 2.7vmin;
  }

  .stacksArticle {
    width: 100%;
  }

  .stacks {
    gap: 25px;
  }

  .stackCard {
    align-items: center;
    justify-content: center;
  }

  .imageList {
    width: 50px;
  }

  .projects {
    margin-top: 25vmin;
  }

  .card {
    gap: 20px;
  }

  .project-card {
    width: 90%;
  }
}
